<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Simple SNS</title>
</head>

<body>
<!--상단 배너-->
<header></header>

<!--배너 아래 메인 메뉴-->
<nav></nav>

<!--메인 콘텐츠 구성 섹션-->
<section>
    <!--게시글 메인 섹션-->
    <section></section>

    <!--중앙 좌측 회원 목록, 기타 메뉴 섹션-->
    <aside></aside>
</section>

<!--본문 하단 메뉴 영역-->
<footer>
    <!--하단 메뉴별 영역-->
    <aside></aside>
</footer>
</body>

</html>